@import "../colors";

.container {
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 0.5rem;
  overflow: hidden;
  // background-color: green;
  gap: 2rem;
  @media screen and (max-width: 680px) {
    flex-direction: column;
  }
  .skillBars {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw;
    // max-width: 80%;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 770px) {
      max-width: 85%;
    }
    .processDesc {
      text-align: left;
      color: $color-gray-100;
    }
    h3 {
      text-align: left;
    }

    .processes {
      display: flex;
      // background-color: yellow;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      padding-right: 0 rem;
    }

    .process {
      display: flex;
      align-items: center;
      text-align: left;
      width: 15rem;
      color: $color-white;
      padding: 0.5rem 1rem;
      background: $color-gray-200;
      box-sizing: border-box;
      border: 1.5px solid $color-border-dark;
      border-radius: 0.5rem;
      // margin-right: 2rem;
      @media screen and (max-width: 1030px) {
        width: 13rem;
      }
      @media screen and (max-width: 900px) {
        width: 11rem;
      }
      @media screen and (max-width: 770px) {
        width: 100%;
        // justify-content: center;
      }

      // @media screen and (max-width: 480px) {
      //   padding: 1.5rem 1.2rem;
      // }
    }
    // 446 836
    .skillBar {
      display: flex;
      text-align: left;
      padding: 1.5rem 2rem;
      background: $color-gray-200;
      border-radius: 0.5rem;
      @media screen and (max-width: 680px) {
        padding: 0.5rem 1.2rem;
      }

      .skillBarImg {
        object-fit: cover;
        height: 3rem;
        width: 3rem;
        margin-right: 2rem;
        @media screen and (max-width: 480px) {
          height: 2.25rem;
          width: 2.25rem;
        }
      }

      .skillBarText > p {
        font-size: 1rem;
        font-weight: 200;
        margin: 1rem 0;

        @media screen and (max-width: 720px) {
          // font-size: 2.2vw;
        }
        @media screen and (max-width: 480px) {
          // font-size: 3.2vw;
        }
      }
      .skillBarText > h2 {
        @media screen and (max-width: 480px) {
          font-size: 5vw;
        }
      }
    }
  }
}
