@import "../colors";
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 2rem;

  .resumeItem {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;

    ::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      left: -9px;
      top: 0;
      background: $color-gradient-1;
      border: 2px solid $color-gradient-1;
    }

    h4 {
      display: flex;
      align-items: center;
      gap: 10px;
      line-height: 18px;
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $color-white;
      @media screen and (max-width: 720px) {
        font-size: 1rem;
      }
      .jobTitle {
        font-family: "Syne", sans-serif;
      }
      .jobType {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $color-gray-100;
        text-transform: lowercase;
      }
    }

    h5 {
      font-size: 0.8rem;
      background: rgba(255, 255, 255, 0.15);
      color: $color-gray-100;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 20px;

      li {
        padding-bottom: 10px;
        color: $color-gray-100;
        font-size: 1rem;
        max-width: 35rem;
      }
    }
    p {
      font-size: 0.8rem;
    }
  }
}

.resumeItem:last-child {
  padding-bottom: 0;
}
