@import "../colors";
.footer {
  width: 100vw;
  height: 4rem;
  background: $color-gray-200;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
  border-top: 1px solid $color-border-dark;
  color: $color-gray-100;
}
