@import "../colors";

.works {
  display: flex;
  flex-direction: column;

  .container {
    margin: 0 auto;
    // min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background-color: yellow;
    padding: 0 1rem;
    .worksImgs {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      // background-color: green;
      // max-width: 65rem;
      flex-wrap: wrap;

      .portfolioWrap {
        .worksImg {
          object-fit: cover;
          object-position: center;
          height: 15rem;
          width: 15rem;
          margin: 0.5rem;
          border: 1px solid $color-border-dark;
          &:hover {
            background: $color-dark;
          }
          @media screen and (max-width: 585px) {
            height: 48vw;
          }
        }

        .portfolioInfo {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          z-index: 3;
          transition: all ease-in-out 0.3s;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &::before {
            display: block;
            content: "";
            width: 48px;
            height: 48px;
            position: absolute;
            top: 35px;
            left: 35px;
            border-top: 3px solid #fff;
            border-left: 3px solid #fff;
            transition: all 0.5s ease 0s;
            z-index: 99999;
          }

          &::after {
          }
        }
      }
    }
    .btn {
      margin-top: 4rem;
      padding: 0.5rem 2.5rem;
      background: $color-gradient-1;
      color: $color-white;
      border-radius: 2rem;
      // font-size: 1rem;
      transition: all ease 0.5s;
      &:hover {
        background: $color-gradient-2;
      }
    }
  }
}

.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 30rem;
  margin: 0.5rem;
  background: $color-gray-200;
  overflow: hidden;
  padding: 1rem 0;
  // border: 1px solid $color-gray-200;
  border-radius: 0.5rem;

  @media screen and (max-width: 1024px) {
    width: 22rem;
  }
  @media screen and (max-width: 770px) {
    width: 23rem;
  }
  @media screen and (max-width: 585px) {
    margin-bottom: 0.7rem;
  }
}

.cardInner {
  position: relative;
  overflow: hidden;
  // height: calc(15rem - 1px);
  height: 15rem;
  width: 90%;
  background-position: center;
  // margin-bottom: 0.5rem;
  // border: 2px solid $color-border-dark;
  border-radius: 0.5rem;
  &:hover {
    transform: scale(1.1);
  }
  &:hover .overlay {
    display: flex;
    visibility: visible;
    opacity: 0.8;
    transition: all ease 0.2s;
  }
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.3rem;
  // background: $color-gray-200;
  // border-bottom-right-radius: 0.5rem;
  // border-bottom-left-radius: 0.5rem;
  // text-align: left;
  // border: 1px solid $color-gray-200;
  // border-top: none;
  // padding: 0.75rem 1rem;
  // padding: 0.5rem 0;
  // text-align: center;

  @media screen and (max-width: 770px) {
    gap: 0.2rem;
  }
}

.cardText > h5 {
  font-weight: 600;
  font-size: 1rem;
  color: $color-white;

  // margin-bottom: 0.3rem;
  @media screen and (max-width: 770px) {
    // text-align: center;
  }
}
.cardText > p {
  font-weight: 300;
  font-size: 0.8rem;
  color: $color-gray-100;
  // margin-bottom: 0.3rem;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.2s;

  background: linear-gradient(
    0deg,
    rgba(172, 172, 172, 0.5),
    rgba(172, 172, 172, 0.5)
  );
}

// .cardInner:hover .overlay {
//   display: flex;
//   visibility: visible;
//   opacity: 0.8;
//   transition: all ease 0.5s;
// }
.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid black;
  position: relative;
  border-radius: 9999px;
  height: 2.5rem;
  width: 2.5rem;
  &:hover {
    border-color: $color-gray-200;
  }
}
.linkIcon {
  margin: 0.5rem;
  color: $color-darkest;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  &:hover {
    color: $color-gray-200;
  }
}
