//COLOR DARK

$color-dark: #060606;
$color-darker: rgba(0, 0, 0, 0.95);
$color-darkest: black;
$color-white: white;
$color-gray-100: #acacac;
$color-gray-200: #1e1e1e;
$color-gray-300: #0f0f11;
$color-svg-dark: var(--color-white);
$color-svg-light: white;
$color-nav: var(--color-white);
$color-border-dark: rgb(54, 54, 54);
$shadow-primary: 0 0 20px 5px rgba(251, 83, 67, 0.2);
$color-primary: #059dff;
$color-primary-dark: #011827;
$color-tertiary: #6549d5;
$color-tertiary-dark: #150b40;
$color-pink: #e33fa1;
$color-pink-dark: #2f011d;
$color-secondary: #fb4323;
$color-secondary-dark: #190301;
$color-gradient-1: linear-gradient(
    95deg,
    $color-primary 15%,
    $color-tertiary 45%,
    $color-pink 75%,
    $color-secondary 100%
  )
  95%/200% 1000%;
$color-gradient-2: linear-gradient(
    95deg,
    $color-primary 35%,
    $color-tertiary 55%,
    $color-pink 95%,
    $color-secondary 100%
  )
  90%/120% 1000%;
